.requests-container::-webkit-scrollbar {
    width: 7.5px;
}

.requests-container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.requests-container::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 100px;
}

.requests-container {
    overflow-y: auto;
}