.homepage-requests {
    background-color: #FBF7F0;
    width: 95vw;
}

.requests-container {
    height: 45vh;
}

@media screen and (max-width: 570px) {
    .homepage-requests {
        width: 100vw;
    }
}